<html lang="en">
    <meta charset="utf-8">
    
    <head>
        <title>TWDNE MINI</title>
        <link rel = "stylesheet" href="{{ url_for('static', filename='index.css')}}">
        <script language="JavaScript" src="{{ url_for('static', filename='script.js')}}"></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="Menu_button" id="close" onclick="menu()">
                    <div id="bar1"></div>
                    <div id="bar2"></div>
                    <div id="bar3"></div>
                </div>
                <div class="Menu_function" id="play_button" onclick="start_n_pause(this.id)">
                    <img src="{{ url_for('static', filename='icons/pause.png')}}" width="35px" height="35px" class="icon" id="pause"> 
                </div>
                <div class="Menu_function" onclick="clear()">
                    <img src="{{ url_for('static', filename='icons/clear.png')}}" width="35px" height="35px" class="icon">
                </div>
                <div class="Menu_function">
                    <p class="icon">-</p>
                    <p class="icon">1</p>
                    <p class="icon">+</p>
                </div>
            </nav>
        </header>
        <div class="showcase_bg" onclick="closeShowcase()">
            <div class = "showcase_container">
                <div class="button_container">
                    <img src="{{ url_for('static', filename='icons/download.png')}}" width="20px" height="20px">
                    <img src="{{ url_for('static', filename='icons/close.png')}}" onclick="closeShowcase()" width="20px" height="20px">
                </div>
            </div>
        </div>
        <main id = "main_container">
            <!-- <div class="pfp_block">
                <img src="{{ url_for('static', filename='sample_img.png')}}" id = 0 onclick="showcase(this.id)" class="pfp"> 
            </div>
            <div class="pfp_block">
                <img src="{{ url_for('static', filename='sample_img2.png')}}" id = 1 onclick="showcase(this.id)" class="pfp"> 
            </div>
            <div class="pfp_block">
                <img src="{{ url_for('static', filename='sample_img3.png')}}" id = 2 onclick="showcase(this.id)" class="pfp">  -->
            <!-- </div>            -->
        </main>
    </body>
</html>